@model MovieShop.Core.Models.Response.MovieResponseModel

<div class="card mb-4 shadow bg-light">
    
        <img src="@Model.PosterUrl" onerror="this.src='https://image.tmdb.org/t/p/w342/kqjL17yufvn9OVLyXYpvtyrFfak.jpg'" class="img-fluid" alt="@Model.Title" />  
    
</div>